%html
  %head
    %title Browser comparator
  %body
    %table#tab_browsers
      %tr.browsers
        %th
        %th.current_browser IE (current Browser)
        - @browsers.each do |browser|
          %th
            = browser.name
      %tr
        %th Version
        %td.current_browser 7
        - @browsers.each do |browser|
          %td
            = browser.versions.last.name
          
      %tr
        %th Dernière mise a jour
        %td.current_browser 2009-04-09
        - @browsers.each do |browser|
          %td
            = browser.versions.last.date_release
    %table#tab_features
      %th 
        = FeatureVersion.find_by_version_id_and_feature_id(1,4).feature.name

