// Place all the styles related to the BrowserComparator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main_color: #87A3DE;
$text_color: #fff;
html{
  background-color: $main_color;
}

#bandeau_titre{
  background-color: darken($main_color, 30);
  margin-bottom: 20px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  height: 80px;
  color: darken($text_color, 5);
}

body{
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-box-shadow: 4px 4px 5px 0px #898989;
  -webkit-box-shadow: 4px 4px 5px 0px #898989;
  margin: 40px;

  font-family: "Arial Narrow", "Consolas";
  background-color: #fff;

  .title_page_index{
    text-align: center;
  }
}

#tab_browsers{
  text-align: center;
  border-spacing: 5px;
  margin: {
    left: 8%;
    right: 8%;
  }
}

.current_browser{
  background-color: #CCC;
  color: #1E5A99;
  border: 0px;
}

th{
  background: darken($main_color, 30); /* Old browsers */
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -moz-box-shadow: 3px 2px 2px 0px #898989;
  -webkit-box-shadow: 3px 3px 2px 0px #898989;
  border-color: #332109;
  color: #FFF;
  border-radius: 3px;
  width: 150px;
  padding: {
    right: 12px;
    left: 12px;
  }
}

.feature_name{
  width: 300px;
}

.feature_non{
  background-color: #EE5E66;
}
